html{
    background: #e3e3e3;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #000000;;
    border-top: 10px solid #F7DFE5;
    background: #ffffff;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    border-bottom: 1px;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

p{
    line-height: 1.4em;
    width: 500px;
    border-top: 1px;
}

.BlogContent{
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px ;
    border-bottom: 2px ;
    font-size: medium;
}

.BlogHeader{
    border-top: 1px dotted #ccc;
}

img{
    border-radius:8px
}

a[href*="https"]{
    background-color: #D4EDFA;
}

.page-header{
    position: sticky;
    top: 0;
    background: #f2f2f2;
}

.contact-form{
    display: grid;
    height: 500px;
    width: 400px;
}

nav ul{
    list-style: none;
    text-align: left;
}

input{
    float: right;
    width: 200px;
}

select{
    float: right;
    width: 200px;
}

button{
    float: right;
    width: 100px;
}

section{
    display: flex;
}

.info{
    padding: 10px;
    margin: 10px
}

.info:nth-of-type(1){
    flex: 2;
}

.info:nth-of-type(2){
    flex:2;
}

.float-content{
    width: 503px;
    float: right;
    margin: 0;
    padding: 10px;
    border-top: 1px;
    border-bottom: 1px;
    text-align: center;
}

.float-content img{
    border-top: 2px;
    border-bottom: 2px;
}

@media (max-width: 400px){
    body{
        background: lightpink;
    }
}